<div class="menu-container">
  <a routerLink="/rendeles" routerLinkActive="active-link" class="menu-button">
    <div class="icon-circle">
      <mat-icon>restaurant_menu</mat-icon>
    </div>
    <span class="button-text">Rendelés</span>
  </a>

  <a routerLink="/profil" routerLinkActive="active-link" class="menu-button">
    <div class="icon-circle">
      <mat-icon>person</mat-icon>
    </div>
    <span class="button-text">Profil</span>
  </a>

  <a routerLink="/modositas" routerLinkActive="active-link" class="menu-button">
    <div class="icon-circle">
      <mat-icon>edit</mat-icon>
    </div>
    <span class="button-text">Módosítás</span>
  </a>
</div>